* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom right,#ADDDD0, #87A2FB);
    font-size: 2rem;
    font-family: sans-serif;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}